<!DOCTYPE html>
<html>
  <head>
    <title>AwesomeStore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar'%>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <% if notice %>
              <div class="alert alert-info" role="alert">
                <%= notice %>
              </div>
            <% end %>
        </div>
    </div>
    <%= yield %>
  </body>
</html>
